@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  transition: background-color 1.4s ease-in-out, color 0.3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}